# Extra requirements
# package[version_required]: tag1, tag2, ...
flake8:                testing
pytest:                testing
pytest-cov:            testing
pytest-benchmark:      testing
pytest-rerunfailures:  testing
mkdocs-material:       docs
mkdocstrings:          docs
mkdocstrings-python:   docs
mkdocs-literate-nav:   docs
mkdocs-gen-files:      docs
